html, body {}
.menu{
	
	background-color: red;
}

.login-form{
	left: 20px;
}
.btn-login,
.btn-login:hover,
.btn-login:active,
.btn-login:visited{
	color: white;
	background-color: transparent;
	border-color: transparent;
}

.img-logo{
	width: 100%;

}

.menu-contact{
	position: absolute;
	right: 0px;
	top: 1em;
}
.menu-option{
	position: absolute;
	left: 0px;
	top: 1em;
}

.img-container{
	position: relative;
}

.text-logo{
	position: absolute;;
	bottom: 2em;
	font-size: 3em;
	background-color: red;
	padding: 20px 5px 20px 5px;
	color: white;
	left: 10em;
}
html, body {
  background-color: #F1F1F1;
}

.question-card {
  background-color: white;
  width: 100%;
}

.question-card table {
  padding: 20px 10px;
  width: 100%;
  color: #FF0000;
}

.question-card th {
  text-align: center;
}